.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    color: var(--primary-accent);
}

.title-lines {
    width: 100%;
    height: 2px;
    background-color: var(--secondary-accent);
}