.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* hero takes up the full screen */
}

.video-overlay {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; /* needed so overlay-text can absolute position inside it */
}

.background-video {
  width: 100vw;
  height: 100%;
  filter: brightness(0.5);
  object-fit: cover;
}

.overlay-text {
    position: absolute;
    text-align: center;
    top: 0%;
    left: 31.5%;
    transform: translate(0, calc(50vh - var(--navbar-height)));

    .hero-title {
        font-weight: 600;
        font-size: 4rem;
        margin: 0;
        text-shadow: 0 6px 8px rgba(31, 31, 31, 0.807);
    }

    p.hero-description {
        font-size: 1.25rem;
        margin: 0.5rem 0 0;
    }
}

.home-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: fit-content;

  .stuff {
    display: flex;
    gap: 20rem;
    margin: auto;
    
    .intro-words {
        margin: 0;
        width: 50%;
    }

    img {
      width: 25%;
      border-radius: 8px;
      filter: drop-shadow(0 6px 8px rgba(31, 31, 31, 0.807));
    }

    img:hover {
      filter: drop-shadow(0 6px 8px rgba(31, 31, 31, 0.807)) brightness(1.1);
      transition: filter 0.3s ease;
      cursor: pointer;
    }
  }
  .image-links {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin-top: 2rem;
      margin: auto;
      width: 50vw;

      .machine-imgs {
        width: 60%;
        height: 70%;
        object-fit: cover;
        border-radius: 50px;
        filter: drop-shadow(0 6px 8px rgba(31, 31, 31, 0.807));
        margin: auto;
      }
    }
}
